<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <connectionStrings>
        <add name="SQLServerDBString"
            connectionString="Data Source=DESKTOP-1B6DOEO\MIKESQLEXPRESS;Initial Catalog=PDFCheckDB;Integrated Security=True;User ID=sa;Password=mikesqlexpress"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <clear/>
        <add key="Logger" value="FileNameChange.Tools.ConsoleLogger"/>
        <add key="SuccessHistoryName" value="SuccessChangeHistory.txt"/>
        <add key="FailHistoryName" value="FailChangeHistory.txt"/>
        <add key="HistorRecorderClassName" value="FileNameChange.Tools.FileHistoryRecorder"/>
        <add key="InvalidCharacter" value="[^a-zA-Z0-9_.-]"/>
        <add key="NameMaxLength" value="50"/>
        <add key="Debug" value="true"/>
        <add key="RegexRegular_Invalid"
            value="övriga tecken utan a-zA-A0-9,-,_:[^a-zA-Z0-9_.-]%ingår personid:(19|20)[0-9]{2}[0-1]{1}[0-2]{1}[0-3]{1}[0-9]{1}(_|-)[0-9]{4}%längd &gt;50:.{51,}"/>
        <add key="NavigationSourceFileNameRegex" value="^@page=(\d+)$"/>
        <add key="NavigationReplacementFileNameRegex" value="@page=$1.htm"/>
        <add key="NavigationSourceHTMLRegex" value="href=&quot;@page=(\d+)&quot;"/>
        <add key="NavigationReplacementHTMLRegex" value="href=&quot;@page=$1.htm&quot;"/>
        <add key="PDFValidating" value="Database"/>


      <!--
        <add key="SaveDataClass" value="FileNameChange.Tools.SaveDataToFile`1[System.Int32]" />
        <add key="LoadDataClass" value="FileNameChange.Tools.LoadDataFromFile" />
        <add key="ClearDataClass" value="FileNameChange.Tools.ClearDataFromFile" />
        <add key="AlgorithmClass" value="FileNameChange.Algorithm.PINHash" />
        <add key="DataInitialClass" value="FileNameChange.Tools.DataInitialFromFile" />
        <add key="ExceptionDigitDataSet" value="ExceptionDigit.txt" />
        <add key="UsedDigitDataSet" value="UsedDigit.txt" />
        <add key="UnusedDigitDataSet" value="UnusedDigit.txt" />
        <add key="IsNeedNewGeneration" value="false" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        -->
    </appSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>